<script src="@Url.Content("~/js/UI/Dialogs/AnnotationSettingsDialog.js")" type="text/javascript"></script>
<div class="modal" id="annotationSettingsDialog" localizationId="annotationSettingsDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><label localizationid="title">Annotation properties</label></h5>
            </div>
            <div class="modal-body">
                <div id="annotationPropertyGrid"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" localizationid="okButton">OK</button>
            </div>
        </div>
    </div>
</div>
